<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/style/styles.css" />
    <title>Dashboard | Project</title>
</head>

<body id="body">
    <div class="container">
        <nav class="navbar">
            <div class="nav_icon" onclick="toggleSidebar()">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>
            <div class="navbar__left">
                <a href="/index">Admin</a>
                <a href="/view_one">Analytics</a>
                <a href="/view_two">Visuals</a>
                <a class="active_link" href="/view_three">Documentation</a>

            </div>
            <div class="navbar__right">
                <a href="#">
                    <!-- <i class="fa fa-search" aria-hidden="true"></i> -->
                </a>

                <a href="#">
                    <img width="30" src="assets/avatar.svg" alt="" />
                    <!-- <i class="fa fa-user-circle-o" aria-hidden="true"></i> -->
                </a>
            </div>
        </nav>

        <main>
            <div style="background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
            background-blend-mode: screen;" class="main__container">
                <!-- MAIN TITLE STARTS HERE -->

                <div class="main__title">
                    <!-- <img src="http://placeskull.com/30/30" alt="" /> -->
                    <div class="main__greeting">
                        <h1>Airplane Crash EDA</h1>
                        <!-- <p>Welcome to our admin dashboard</p> -->
                    </div>
                </div>

                <!-- MAIN TITLE ENDS HERE -->

                <!-- MAIN CARDS STARTS HERE -->
                <!-- <div class="main__cards">
                    <div class="card">
                        <i class="fa fa-user-o fa-2x text-lightblue" aria-hidden="true"></i>
                        <div class="card_inner">
                            <p class="text-primary-p">Profile</p>
                           
                        </div>
                    </div>

                </div> -->
                <!-- MAIN CARDS ENDS HERE -->

                <!-- CHARTS STARTS HERE -->
                <div class="charts">
                    <div style="background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);" class="charts__left">
                        <div class="charts__left__title">
                            <!-- <i class="fa fa-database" aria-hidden="true"></i> -->
                            <div>
                                <h1>Crash Report</h1>
                                <p style="font-size: 18px;">The project kicked-off with an intention to analyze the available data of airline crashes from 1908 till 2019.</p>
                                <p style="font-size: 18px;"> Kaggle for data set - 4000+ records</p>
                                </br>
                                <h1>Hypothesis:- </h1>
                                <div style="font-size: 19px;color:#a5aaad;margin: 25px 10px">
                                    <ul style="margin: 25px 10px;">
                                        <li>
                                            Is there any link between the different time periods and the fatality rate?
                                        </li>
                                        <p></p>
                                        <li>
                                            What has been the overall trend for air travel fatalities?
                                        </li>
                                        <p></p>
                                        <li>
                                            Which Aircraft types were most represented in accidents?

                                        </li>
                                        <p></p>
                                        <li>
                                            What are the most dangerous air operators?
                                        </li>
                                        <p></p>
                                        <li>
                                            Which countries had the most accidents?

                                        </li>


                                    </ul>

                                </div>
                                <h1>Visualization techniques</h1>
                                <p style="font-size: 18px;">Python Flask-powered API Endpoints created with server-side rendering.</br>
                                    HTML, CSS, Python,Plotly ,Geopy ,Apex.js,Vanilla JavaScript and D3.js used in combination for creating visuals including graphs and charts.</p>
                                </br>
                                <h1 style="color: #ff4e00;">Conclusion</h1>
                                <div style="font-size: 19px;color:#a5aaad;margin: 25px 10px">
                                    <ol>
                                        <li style="margin:10px 0px">
                                            Initilaly Fatalities respective to the crashes were low ,then sky rocketed during era world war. Later towards end of 21'st century number of crashes plummeted.
                                        </li>
                                        <li style="margin:10px 0px">
                                            Number of crashes over the period has increased.But majority of the crashes happend between 1948 and 1970.
                                        </li>
                                        <li style="margin:10px 0px">
                                            Aircraft types caused most fatalities- Douglas Dc-3; followed by De Havilland Canada.

                                        </li>
                                        <li style="margin:10px 0px">
                                            Top dangerous air operators are Aeroflot,Miltary- US Air Force and Air France.
                                        </li>
                                        <li style="margin:10px 0px">
                                            United States consitute of 35.7% of total crashes.
                                        </li>

                                    </ol>
                                </div>

                            </div>

                        </div>
                        <div id="apex1"></div>
                    </div>

                    <div class="charts__right">
                        <div class="charts__right__title">
                            <div>
                                <h1>API Endpoints</h1>
                                <!-- <p>Cupertino, California, USA</p> -->
                            </div>
                            <i class="fa fa-fire" aria-hidden="true"></i>
                        </div>

                        <div class="charts__right__cards">
                            <div class="card1">
                                <h1>Data Endpoint</h1>

                                <a style="color:white;text-decoration:none;font-size:25px" href="http://127.0.0.1:5000/data">/data</a>

                                <!-- <p>localhost/data</p> -->
                            </div>

                            <div class="card2">
                                <h1>Operators Endpoint</h1>
                                <a style="color:white;text-decoration:none;font-size:25px" href="http://127.0.0.1:5000/operators">/operators</a>
                            </div>

                            <div class="card3">
                                <h1>Origins Endpoint</h1>
                                <a style="color:white;text-decoration:none;font-size:25px" href="http://127.0.0.1:5000/wc_origins">/wc_origins</a>

                            </div>

                            <div class="card4">
                                <h1>Landing Sites Endpoint</h1>
                                <a style="color:white;text-decoration:none;font-size:25px" href="http://127.0.0.1:5000/landingsites">/landingsites</a>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- CHARTS ENDS HERE -->
            </div>
        </main>

        <div id="sidebar">
            <div class="sidebar__title">
                <div class="sidebar__img">
                    <img src="http://placeskull.com/45/45" alt="logo" />
                    <h1 style="margin-left:15px;">Hottest-100</h1>
                </div>
                <i onclick="closeSidebar()" class="fa fa-times" id="sidebarIcon" aria-hidden="true"></i>
            </div>

            <div class="sidebar__menu">
                <div class="sidebar__link active_menu_link">
                    <i class="fa fa-home"></i>
                    <a href="#">Dashboard</a>
                </div>
                <h2>Developers</h2>
                <div class="sidebar__link">
                    <i class="fa fa-user-secret" aria-hidden="true"></i>
                    <a href="#">Bimal</a>
                </div>
                <div class="sidebar__link">
                    <i class="fa fa-building-o"></i>
                    <a href="#">Kelly</a>
                </div>
                <div class="sidebar__link">
                    <i class="fa fa-wrench"></i>
                    <a href="#">Lily</a>
                </div>
                <div class="sidebar__link">
                    <i class="fa fa-archive"></i>
                    <a href="#">Divya</a>
                </div>
                <div class="sidebar__link">
                    <i class="fa fa-handshake-o"></i>
                    <a href="#">Warren</a>
                </div>
                <div class="sidebar__logout">
                    <i class="fa fa-power-off"></i>
                    <a href="#">Log out</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="script.js"></script>
</body>

</html>